<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BioTech Park Admission Portal</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css"
    integrity="sha512-t7Few9xlddEmgd3oKZQahkNI4dS6l80+eGEzFQiqtyVYdvcSG2D3Iub77R20BdotfRPA9caaRkg1tyaJiPmO0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.2.0/css/all.min.css"
    integrity="sha512-F/yRpRY8sctKzP7exU5PLGejwg/QtjDX6CIy/41nApe7JqdZgCcCzJTNq9Rcp/XwbeeTGillGevBakruY15pxA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    .row1 {
      color: white;
      background-color: rgb(16, 35, 28);
    }

    .navigatrion a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      margin: 0 15px;
      transition: .3s;
    }

    .row3 {
      height: 700px;
      background-color: rgb(87, 131, 83);
    }

    .workflow {
      height: 80%;
      margin-top: 70px;
      background-color: rgba(21, 98, 74, 0.322);
      color: white;
      font-size: 20px;
    }

    .workflow-list {
      height: 70px;
      background-color: rgb(101, 149, 122);

    }

    .hero {
      height: 80%;
      margin-top: 70px;
    }

    .para {
      margin-top: -40px;
    }

    .admin-btn {
      background-color: rgba(51, 113, 45, 0.951);
      border: 1px soild white;
      height: 50px;
      width: 150px;
      font-weight: 900;
      padding-top: 10px;
    }

    .admin-btn:hover {
      background-color: white;

    }

    .cards:hover {
      transform: translateY(-10px);
    }

    .cards {
      transition: 0.3s;
    }

    .row6 {
      min-height: 500px;

      background-color: rgb(7, 95, 154);
      margin-top: 90px;
    }

    .navbar {
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    .row7 {
      min-height: 600px;
      background-color: rgb(246, 250, 247);
    }

    .mentor-card {
      border-radius: 20px;
      transition: .3s;
      padding-top: 5px !important;
      min-height: 300px;
    }

    .mentor-card:hover {
      transform: translateY(-8px);
    }

    .mentor-img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      border: 8px solid #edf8f7;
      display: block;
    }

    .mentor-name {
      margin-top: 5px;
      font-size: 20px;
      font-weight: 700;
      color: #0b4b3c;
    }

    .mentor-designation {
      font-size: 15px;
      color: #555;
      line-height: 1.5;
    }

    .last-row {
      background: linear-gradient(90deg,
          #07281E 0%,
          #0F4736 30%,
          #1B6B53 65%,
          #2F8B70 100%);

      height: 300px;
    }
    .list-last a{
      font-size: 18px;
      text-decoration: none;
      color: white;
      
    }
    .list-last a:hover{
      color: rgb(245, 186, 10);
    }
    .nav-row{
    position: sticky;
    top: 0;
    z-index: 9999;
    background: white;
}
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row row1">
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <p class="fw-bold mt-2 "><i class="bi bi-houses-fill"></i> Biotech Park Admission Portal</p>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4 gap-5 d-flex">
        <p class="mt-2 fw-bold"><i class="bi bi-envelope-fill"></i> info@biotechpark.org.in</p>
        <p class="mt-2 fw-bold"><i class="bi bi-telephone-fill"></i> +91-00000000000</p>
      </div>

    </div>
    <div class="row nav-row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 ">

        <nav class="navbar ">
          <div class="container-fluid">
            <a class="navbar-brand fw-bolder text-success mt-0" style="font-size: 25px;" href="#">
              <img src="https://i.pinimg.com/736x/61/06/f1/6106f1811a191b532f6c400aefa4d315.jpg" alt="logo" width="30"
                height="24" class="d-inline-block mt-0">
              BioTech Park

            </a>
            <div class="navigatrion">
              <a href="{% url 'home' %}">Home</a>
              <a href="{% url 'course' %}">Course</a>
              <a href="{% url 'about' %}">About</a>
              <a href="{% url 'contact' %}">Contact</a>
              <a href="#" class="btn btn-primary rounded-4">Login</a>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-sm-1"></div>
    </div>



    <div class="row row3 bg-success">
      <div class="col-sm-1"></div>
      <!--admission open-->
      <div class="col-sm-6  hero">

        <div class="row">
          <div class="col-sm-4 fw-bolder mt-5 text-center text-white card rounded-4"
            style="background-color: rgba(51, 111, 92, 0.559);">
            <p class="mt-2"><i class="bi bi-leaf-fill"></i> Admission Open 2026-27</p>

          </div>
          <h1 class="text-white fw-bolder mt-3">Biotech Park Online</h1>
          <h1 class="text-white fw-bolder mb-5">Admission Portal</h1>
          <p class="text-white fw-bolder para">A secure, modern and premium admission platform for student registration,
            document verification, course enrollment and fee payment tracking.</p>

        </div>
        <a href="#" class="btn  rounded-4 shadow mt-3"
          style="background-color: rgb(224, 182, 93); height: 50px; width: 100px; font-weight: 900; padding-top: 10px;"><i
            class="bi bi-box-arrow-in-right"></i> Login</a>
        <a href="{% url 'adminlogin' %}" class="btn  rounded-4 shadow-lg  mt-4 mx-4 admin-btn"><i
            class="bi bi-lock-fill"></i> Admin Login</a>
      </div>

      <!--admission open-->


      <!--admission workflow-->
      <div class="col-sm-4">
        <div class="card workflow">
          <h2 class="fw-bolder text-center mt-2">Admission Workflow</h2>
          <div class="row mx-4 mt-2 ">
            <div class="col-sm-12 card rounded-2 mb-4 shadow workflow-list">
              <p class="text-white fw-bold mt-3 mx-2">

                <i class="fa-solid fa-1">.</i>Student credentials issued by admin
              </p>
            </div>
            <div class="col-sm-12 card rounded-2 mb-4 shadow workflow-list">
              <p class="text-white fw-bold mt-3 mx-2">

                <i class="fa-solid fa-2">.</i>
                Student fills basic information
              </p>
            </div>
            <div class="col-sm-12 card rounded-2 mb-4 shadow workflow-list">
              <p class="text-white fw-bold mt-3 mx-2">

                <i class="fa-solid fa-3">.</i>
                Documents are uploaded securely
              </p>
            </div>
            <div class="col-sm-12 card rounded-2 mb-4 shadow workflow-list">
              <p class="text-white fw-bold mt-3 mx-2">

                <i class="fa-solid fa-4">.</i>
                Admin verifies application details
              </p>
            </div>
            <div class="col-sm-12 card rounded-2 mb-4 shadow workflow-list">
              <p class="text-white fw-bold mt-3 mx-1">

                <i class="fa-solid fa-5">.</i>Fee payment and enrollment
              </p>
            </div>

          </div>

        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 bg-success card rounded-4 mt-5">
        <div class="row">
          <div class="col-sm-3  text-center">
            <h1 class="mt-3" style="color: rgb(221, 221, 16); font-weight: 900;">100%</h1>
            <p class="mt-0 text-white " style="font-weight: 700;">online Process</p>
          </div>
          <div class="col-sm-3  text-center">
            <h1 class="mt-3" style="color: rgb(221, 221, 16); font-weight: 900;">Success</h1>
            <p class="mt-0 text-white " style="font-weight: 700;">Student Login</p>
          </div>
          <div class="col-sm-3  text-center">
            <h1 class="mt-3" style="color: rgb(221, 221, 16); font-weight: 900;">Fast</h1>
            <p class="mt-0 text-white " style="font-weight: 700;">Verification</p>
          </div>
          <div class="col-sm-3  text-center">
            <h1 class="mt-3" style="color: rgb(221, 221, 16); font-weight: 900;">Track</h1>
            <p class="mt-0 text-white " style="font-weight: 700;">Payment Status</p>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="row mt-5">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <p class="fw-bolder text-center" style="color: rgb(184, 134, 37);">Facilities</p>
            <h2 class="fw-bolder text-center">We Cover The Whole Spectrum</h2>

          </div>
          <div class="col-sm-3"></div>

        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row">


      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card shadow cards mt-5">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv5jsePkcztwMIlb6lcSf3d6tNHXEzx0MgbndNaXAnzlE8JCJqOI_yd78&s=10"
                class="card-img-top" alt="..." height="200px">
              <div class="card-body">
                <p class="text-center" style="font-weight: 700; font-size: 18px; color:rgb(16, 35, 28);">Morden
                  Infrastructure</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow cards mt-5">
              <img
                src="https://stanforddaily.com/wp-content/uploads/2018/05/building-aisle-library-public-library-inventory-bookselling-24143-pxhere.com_.jpg"
                class="card-img-top" alt="..." height="200px">
              <div class="card-body">
                <p class="text-center" style="font-weight: 700; font-size: 18px; color:rgb(16, 35, 28);">Hi-Tech
                  Laboratories</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow cards mt-5">
              <img
                src="https://media.licdn.com/dms/image/v2/D5612AQEP23TbnktlKw/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1674649651168?e=2147483647&v=beta&t=wZQM-1Js8vOpLT6-ohxtznl3lGr2GjhlAD3f5vqeBI4"
                class="card-img-top" alt="..." height="200px">
              <div class="card-body">
                <p class="text-center" style="font-weight: 700; font-size: 18px; color:rgb(16, 35, 28);">Skill
                  Development</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow cards mt-5">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRriPtXmoSbbnJG0sKpUvw0KsRDNbSdbYdt2MVEJ5HJWXIFu2eXAg-n4qc&s=10"
                class="card-img-top" alt="..." height="200px">
              <div class="card-body">
                <p class="text-center" style="font-weight: 700; font-size: 18px; color:rgb(16, 35, 28);">Clean
                  Environment</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>


    <div class="row row6">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-2 p-2 rounded-5 border text-center text-white mt-5"
            style="background-color: rgb(42, 118, 166);">
            <h5 class="fw-bold">About Biotech Park</h5>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-6 text-white">
            <h2 class="fw-bold mt-4">Functional Biotech Park In North India</h2>
            <p class="mt-2 mt-4 " style="font-size: 18px;">Bio Tech Park, Lucknow is a premier research and training
              centre dedicated to biotechnology, agriculture,
              healthcare and scientific advancement. This admission portal makes training programme enrollment smooth,
              transparent and fully trackable.</p>

            <button class="btn shadow fw-bolder mt-4 rounded-5"
              style="background-color: rgb(228, 187, 100);">Login</button>
          </div>
          <div class="col-sm-6  " style="margin-top: -48px;">
            <img src="https://picsum.photos/seed/biotech-video/1000/650" class="rounded-5 w-100" alt="">
          </div>
        </div>
      </div>

      <div class="col-sm-1"></div>
    </div>

    <!--our mentor-->


    <div class="row row7">

      <div class="col-sm-1"></div>

      <div class="col-sm-10">

        <!-- Heading -->
        <div class="row mt-5">
          <div class="col-12">
            <p class="mb-1 fw-bold" style="color:rgb(184,134,37);">
              LEADERSHIP
            </p>

            <h2 class="fw-bold">
              Our Mentors
            </h2>
          </div>
        </div>

        <!-- Mentor Cards -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mt-3">

          <!-- Card 1 -->
          <div class="col">
            <div class="card mentor-card shadow border-0 text-center p-4 h-100">

              <img src="https://biotechpark.softproindia.in/Content/images/Govermer.jpg" class="mentor-img mx-auto"
                alt="">

              <div class="card-body">
                <h5 class="mentor-name">Smt. Anandiben Patel</h5>
                <p class="mentor-designation">
                  Hon’ble Governor <br>

                  Uttar Pradesh

                </p>
              </div>

            </div>
          </div>

          <!-- Card 2 -->
          <div class="col">
            <div class="card mentor-card shadow border-0 text-center p-4 h-100">

              <img src="https://biotechpark.softproindia.in/Content/images/yogiji.jpg" class="mentor-img mx-auto"
                alt="">

              <div class="card-body">
                <h5 class="mentor-name">Smt. Anandiben Patel</h5>
                <p class="mentor-designation">
                  Hon'ble Governor<br>
                  Uttar Pradesh
                </p>
              </div>

            </div>
          </div>

          <!-- Card 3 -->
          <div class="col">
            <div class="card mentor-card shadow border-0 text-center p-4 h-100">

              <img src="https://biotechpark.softproindia.in/Content/images/Minister2.jpg" class="mentor-img mx-auto"
                alt="">

              <div class="card-body">
                <h5 class="mentor-name">Shri Anil Kumar</h5>
                <p class="mentor-designation">
                  Hon'ble Cabinet Minister<br>
                  DST, GoUP
                </p>
              </div>

            </div>
          </div>

          <!-- Card 4 -->
          <div class="col">
            <div class="card mentor-card shadow border-0 text-center p-4 h-100">

              <img src="https://biotechpark.softproindia.in/Content/images/Prof%20JP%20Pandey.jpg"
                class="mentor-img mx-auto" alt="">

              <div class="card-body">
                <h5 class="mentor-name">Prof. J. P. Pandey</h5>
                <p class="mentor-designation">
                  CEO, Biotech Park<br>
                  Lucknow
                </p>
              </div>

            </div>
          </div>

        </div>

      </div>

      <div class="col-sm-1"></div>

    </div>





    <div class="row last-row">

      <div class="col-sm-1"></div>

      <div class="col-sm-3">

        <h3 class="text-white mt-5"><i class="bi bi-leaf-fill"></i><br>Biotech Park</h3>
        <p class="text-white mt-3">A premium online admission portal for student registration, document verification,
          course enrollment and fee tracking.</p>
      </div>
      <div class="col-sm-2 text-white mt-5 ">
        <h4 class="fw-bold">Quick Links</h4>
        <ul style="list-style: none; padding: 5px; word-spacing: 15px;" class="list-last">
          <li class="text-white"><a href="">Home</a></li>
          <li><a href="">Courses</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Login</a></li>
        </ul>
      </div>
      <div class="col-sm-2 text-white mt-5 ">
        <h4 class="fw-bold">Portal Access</h4>
        <ul style="list-style: none; padding: 5px; word-spacing: 1px;" class="list-last">
          <li class="text-white"><a href="">Login</a></li>
          <li><a href="{% url 'adminlogin' %}">Admin Portal</a></li>
          <li><a href="">Avilable Courses</a></li>
          <li><a href="">Verification process</a></li>
        </ul>
      </div>
      
      <div class="col-sm-2 text-white mt-5 ">
        <h4 class="fw-bold">Contact Info</h4>
        <ul style="list-style: none; padding: 5px; word-spacing: 1px;" class="list-last">
          <li class="text-white"><i class="bi bi-geo-alt-fill"></i> Biotech park, Lucknow</li>
          <br>
          <li><i class="bi bi-envelope-fill"></i> info@biotechpark.org.in</li>
          <br>
          <li><i class="bi bi-telephone-fill"></i> +91-00000000000</li>
          
        </ul>
      </div>
      <div class="col-sm-1"></div>

    </div>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>