<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Biotech Park Admission Portal</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <style>
    .row1 {
      background-color: rgb(16, 35, 28);
      height: 30px;
      font-size: 12px;
    }

    .row1 p {
      margin-top: 5px;
      font-weight: 500;
    }

    .row2 {
      background-color: rgb(255, 255, 255);
      height: 100px;
    }
    .row2 p{
      font-weight: 100;
    
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row row1">
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        <p class="text-light"> Biotech Park Admission Portal</p>
      </div>
      <div class="col-sm-5"></div>

      <div class="col-sm-1">
        <p class="text-light"> info@biotechpark.org.in</p>
      </div>

      <div class="col-sm-2 mx-5 mt-0">
        <p class="text-light "> +91-0000000000</p>
      </div>
    </div>
    <div class="row row2">
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        <h6 class="fw-bold " style="color: rgb(6, 75, 53); font-weight: 800; font-size: 20px;">Biotech Park</h6>
        <p class="mt-0" style="  margin-top: -10px;">Online Admission Portal
        </p>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>